<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configuration</key>
	<dict>
		<key>ad_type</key>
		<string>admob</string>
		<key>ad_tag</key>
		<string>a14ea5fc658a25b</string>
	</dict>
</dict>
</plist>
